# ignore emacs and other editor files
*~
\#*\#
.\#*
*.swp
*.swo

src/*.js
test/*.js

lib/
node_modules/

# IDE Specific
############################
.idea
*.iml
.project
.buildpath
/.settings
*.sublime-project
*.sublime-workspace
*.sublime-projectcompletions
*.user
*.suo
*.vspscc
*.vscc
_vti_cnf
_notes

# General
############################
.sass-cache
*.log

# OS Generated
############################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db